/*Dokumen CSS*/

	tulisan_miring{
	font-family: Verdana, Ariwal, Helvetica, sans-serif;
	font-size: 12px;
	font-style: Italic;
	}
	
	.cetak_tebal{
	font-family: Verdana, Ariwal, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: skyblue;
	}
	
	#14pt{
	font-size: 14 pt;
	}
	
	p{
	font-family: Verdana, Ariwal, Helvetica, sans-serif;
	}
	
	td{
	font-weight: bold;
	}
	
	a{
	font-size: 24px;
	}